@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&display=swap');

.search {
    padding: 20px;
}

.searchButton {
    color: #9a9a9a;
    background: transparent;
    border: 2px solid #9a9a9a;
    border-radius: 0 50px 50px 0;
    border-left: none;
    padding: 10px 20px;
    z-index: 2;
    cursor: pointer;
}

.searchInput {
    width: 500px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    border: 2px solid #9a9a9a;
    border-radius: 50px 0 0 50px;
    border-right: none;
    color: #000000;
    padding: 10px 20px;
    z-index: 3;
    cursor: pointer;
}

.searchInput:focus {
    outline: none;
    cursor: text;
}

.searchButton:hover {
    color: #000000;
}

.searchButton:focus {
    outline: none;
}